<div class="home-container">
    <div class="hero">
      <h1>Learn. Succeed. Lead.</h1>
      <p>Find the best online courses and start learning today.</p>
      <div class="buttons">
      </div>
    </div>
  
    <div class="features">
      <mat-card class="feature-card">
        <mat-icon>devices</mat-icon>
        <h3>Wide Course Selection</h3>
        <p>Choose from various professional courses.</p>
      </mat-card>
   
  
      <mat-card class="feature-card">
        <mat-icon>devices</mat-icon>
        <h3>Easy Enrollment</h3>
        <p>Sign up and start learning in minutes.</p>
      </mat-card>
  
      <mat-card class="feature-card">
        <mat-icon>devices</mat-icon>
        <h3>Accessible Anywhere</h3>
        <p>Learn from any device, anytime.</p>
      </mat-card>
    </div>
  </div>
  