<mat-card class="course-card">
  <mat-card-header>
    <mat-card-title> Courses list:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      @for(course of courses;track courses.length)
      {
      <mat-card class="course-card">
        <mat-card-header>
          <mat-card-title appHoverColor highlightColor="lightblue">{{ course.title }}</mat-card-title>
          <!-- <mat-card-subtitle>מורה: {{ course.teacherId }}</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <mat-card-content> -->
        <!-- <p>{{ course.description }}</p> -->
        <!-- </mat-card-content> -->
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['../course', course.id]"> More details</button>
          @if(role=="student")
          {<button mat-button color="accent" (click)="enroll(course.id)">Sign up</button>}
        </mat-card-actions>
      </mat-card>
      }

    </mat-list>
  </mat-card-content>
</mat-card>