@if (course) {
<button mat-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    back
</button>

<mat-card class="course-card">
    <mat-card-header>
        <div mat-card-avatar class="course-icon">
            <mat-icon>school</mat-icon>
        </div>
        <mat-card-title>{{ course.title }}</mat-card-title>
        <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><strong>teacher: </strong>{{ teacher!.name | capitalizeFirst }}</p>
        <mat-divider></mat-divider>
        <h3>lessons:</h3>
        <mat-accordion>
            @for ( lesson of lessons; track lessons.length) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ lesson.title }}
                    </mat-panel-title>
                    <mat-panel-description>
                        Click for more details
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{ lesson.content }}</p>
            </mat-expansion-panel>
            }
        </mat-accordion>
    
          
    </mat-card-content>
</mat-card>
}

